In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Articles

names / descriptions are not unique

In [2]:
d = pd.read_csv('../data/raw/articles.csv.zip', dtype={'article_id': 'category'})
d.dtypes

article_id                      category
product_code                       int64
prod_name                         object
product_type_no                    int64
product_type_name                 object
product_group_name                object
graphical_appearance_no            int64
graphical_appearance_name         object
colour_group_code                  int64
colour_group_name                 object
perceived_colour_value_id          int64
perceived_colour_value_name       object
perceived_colour_master_id         int64
perceived_colour_master_name      object
department_no                      int64
department_name                   object
index_code                        object
index_name                        object
index_group_no                     int64
index_group_name                  object
section_no                         int64
section_name                      object
garment_group_no                   int64
garment_group_name                object
detail_desc                       object
dtype: object

In [4]:
d.memory_usage(deep=True).sum() / 1024 / 1024

127.95318698883057

In [5]:
d.count()

article_id                      105542
product_code                    105542
prod_name                       105542
product_type_no                 105542
product_type_name               105542
product_group_name              105542
graphical_appearance_no         105542
graphical_appearance_name       105542
colour_group_code               105542
colour_group_name               105542
perceived_colour_value_id       105542
perceived_colour_value_name     105542
perceived_colour_master_id      105542
perceived_colour_master_name    105542
department_no                   105542
department_name                 105542
index_code                      105542
index_name                      105542
index_group_no                  105542
index_group_name                105542
section_no                      105542
section_name                    105542
garment_group_no                105542
garment_group_name              105542
detail_desc                     105126
dtype: int64

In [6]:
d.select_dtypes('object').nunique() / d.shape[0]

prod_name                       0.434661
product_type_name               0.001241
product_group_name              0.000180
graphical_appearance_name       0.000284
colour_group_name               0.000474
perceived_colour_value_name     0.000076
perceived_colour_master_name    0.000189
department_name                 0.002369
index_code                      0.000095
index_name                      0.000095
index_group_name                0.000047
section_name                    0.000531
garment_group_name              0.000199
detail_desc                     0.411249
dtype: float64

In [7]:
cat_features = ['product_type_name', 'product_group_name', 'graphical_appearance_name', 'colour_group_name', 'perceived_colour_value_name', 'perceived_colour_master_name', 'department_name', 'index_code', 'index_name', 'index_group_name', 'section_name', 'garment_group_name', 'product_type_no',
 'graphical_appearance_no', 'colour_group_code', 'perceived_colour_value_id', 'perceived_colour_master_id', 'department_no', 'index_group_no', 'section_no', 'garment_group_no']

In [8]:
d[cat_features] = d[cat_features].astype('category')

In [9]:
d.memory_usage(deep=True).sum() / 1024 / 1024

42.76302433013916

In [10]:
d.memory_usage(deep=True) / 1024 / 1024

Index                            0.000122
article_id                      11.177629
product_code                     0.805222
prod_name                        7.307353
product_type_no                  0.206287
product_type_name                0.213585
product_group_name               0.102417
graphical_appearance_no          0.101904
graphical_appearance_name        0.103566
colour_group_code                0.103041
colour_group_name                0.105820
perceived_colour_value_id        0.101000
perceived_colour_value_name      0.101431
perceived_colour_master_id       0.101336
perceived_colour_master_name     0.102400
department_no                    0.211498
department_name                  0.226390
index_code                       0.101492
index_name                       0.101628
index_group_no                   0.100855
index_group_name                 0.101130
section_no                       0.103094
section_name                     0.106538
garment_group_no                 0.101343
garment_group_name               0.102548
detail_desc                     20.873397
dtype: float64

In [11]:
d[d['detail_desc'].isna()]

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
1467,0351332007,351332,Marshall Lace up Top,252,Sweater,Garment Upper body,1010018,Treatment,7,Grey,...,Jersey Fancy DS,D,Divided,2,Divided,58,Divided Selected,1005,Jersey Fancy,NaN
2644,0420049002,420049,OL TAGE PQ,87,Boots,Shoes,1010016,Solid,13,Beige,...,Premium Quality,C,Ladies Accessories,1,Ladieswear,64,Womens Shoes,1020,Shoes,NaN
2645,0420049003,420049,OL TAGE PQ,87,Boots,Shoes,1010016,Solid,23,Dark Yellow,...,Premium Quality,C,Ladies Accessories,1,Ladieswear,64,Womens Shoes,1020,Shoes,NaN
2742,0426199002,426199,Ellen Shortie Daisy Low 3p,286,Underwear bottom,Underwear,1010016,Solid,9,Black,...,Casual Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear",NaN
2743,0426199010,426199,Ellen Shortie Daisy Low 3p,286,Underwear bottom,Underwear,1010017,Stripe,8,Dark Grey,...,Casual Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67838,0752458001,752458,Poissy boho dress,265,Dress,Garment Full body,1010007,Embroidery,10,White,...,Dress,A,Ladieswear,1,Ladieswear,6,Womens Casual,1013,Dresses Ladies,NaN
72720,0768842001,768842,Andrews set,270,Garment Set,Garment Full body,1010017,Stripe,10,White,...,Baby Boy Woven,G,Baby Sizes 50-98,4,Baby/Children,41,Baby Boy,1006,Woven/Jersey/Knitted mix Baby,NaN
72721,0768842004,768842,Andrews set,270,Garment Set,Garment Full body,1010004,Check,73,Dark Blue,...,Baby Boy Woven,G,Baby Sizes 50-98,4,Baby/Children,41,Baby Boy,1006,Woven/Jersey/Knitted mix Baby,NaN
93144,0856985001,856985,Pogo rope,67,Belt,Accessories,1010016,Solid,12,Light Beige,...,Belts,C,Ladies Accessories,1,Ladieswear,65,Womens Big accessories,1019,Accessories,NaN
95624,0867200001,867200,Necklace Simon,77,Necklace,Accessories,1010011,Metallic,3,Silver,...,Small Accessories,F,Menswear,3,Menswear,25,Men Accessories,1019,Accessories,NaN

In [12]:
d.to_parquet('../data/clean/articles.parquet')

# Customers

In [45]:
d = pd.read_csv('../data/raw/customers.csv.zip')

In [46]:
d.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [47]:
d.memory_usage(deep=True).sum() / 1024 / 1024

512.2976226806641

In [48]:
d.count()

customer_id               1371980
FN                         476930
Active                     464404
club_member_status        1365918
fashion_news_frequency    1355971
age                       1356119
postal_code               1371980
dtype: int64

In [49]:
d.dtypes

customer_id                object
FN                        float64
Active                    float64
club_member_status         object
fashion_news_frequency     object
age                       float64
postal_code                object
dtype: object

In [41]:
# top zip-code ~ missing?
d['postal_code'].value_counts()[:20]

2c29ae653a9282cce4151bd87643c907644e09541abc28ae87dea0d1f6603b1c    120303
cc4ed85e30f4977dae47662ddc468cd2eec11472de6fac5ec985080fd92243c8       261
714976379549eb90aae4a71bca6c7402cc646ae7c40f6c1cb91d4b5a18623fc1       159
7c1fa3b0ec1d37ce2c3f34f63bd792f3b4494f324b6be5d1e4ba6a75456b96a7       157
5b7eb31eabebd3277de632b82267286d847fd5d44287ee150bb4206b48439145       156
1f5bd429acc88fbbf24de844a59e438704aa8761bc7b99fd977cad297c50b74c       154
9d5787501bf1c77592156ba51eab13f4a2670c807686431a9e22a69090b02358       141
a1959a16bf167858c93a66ec2a330644512b25fb10f97eee2058549885af4dbd       138
087a46b65170845b4a55226ff1eb748ce7843d4b637cbe17f6bfbd1e645d2ffb       134
4d22901a97bd952bb92cdd31b38c39b41dd3250a735cabdfac1503eb405b807d       132
45dc52765eb24eb8bc8a4a40a682d5e430aed58a9aba44e7f67d9516e54ba0d1       113
2790324c84cdb8ba471be2a199cfb5103bbe1ab10883a0312b6928b05d6ee6c4       109
262cfc24e32aec2c7adc42cf50af7a412127aa064e0269d5723477d5631dcccb       107
e7bcbb41a62610d1067e0effbab544746d8d1ba9829323ed3819a145ee3c74a5       105
8bea14e5409ea8733f4e747887eff6b4bd58391605b495b9fa5e633262239735       101
e3f4e08b31c34fb5c82e934b7430999d95d4b2c652fd30c180795626c29be33b       100
a5ca21aefc3cf90afd9b09faf3b0f8f3c423d4f1cfb4c2e33a1b86770e426fa8        97
2f2d4e6abe65dcea4918019af805b3d4a2a6de9d91a267dbae07f04abec58508        97
8537857094470e65f7a610a45fd3064b99dba724d18784bdec702a262a163171        95
20f86c99aaa4cfe914948f35689dd4eb242d1400da5394e80c9a05837e3e6418        94
Name: postal_code, dtype: int64

In [27]:
d['fashion_news_frequency'].fillna('NONE').value_counts()

NONE         893720
Regularly    477416
Monthly         842
None              2
Name: fashion_news_frequency, dtype: int64

In [51]:
d['club_member_status'] = d['club_member_status'].fillna('UKNOWN').astype('category')
d['fashion_news_frequency'] = d['fashion_news_frequency'].fillna('NONE').astype('category')
d['postal_code'] = d['postal_code'].astype('category')

In [ ]:
d['age_group'] = pd.cut(d['age'], bins=np.arange(d['age'].min(), d['age'].max(), 5))

In [54]:
d.memory_usage(deep=True) / 1024 / 1024

Index                       0.000122
customer_id               158.319073
FN                         10.467377
Active                     10.467377
club_member_status          1.308833
fashion_news_frequency      1.308826
age                        10.467377
postal_code                54.018863
dtype: float64

In [53]:
d.memory_usage(deep=True).sum() / 1024 / 1024

246.35784721374512

In [55]:
d.to_parquet('../data/clean/customers.parquet')

# transactions

In [13]:
d = pd.read_csv('../data/raw/transactions_train.csv.zip', parse_dates=['t_dat'], dtype={'article_id': 'category'})

In [17]:
d.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687004,0.016932,2

In [14]:
d.memory_usage(deep=True).sum() / 1024 / 1024

4527.752079963684

In [15]:
d.memory_usage(deep=True)/ 1024 / 1024

Index                  0.000122
t_dat                242.525665
customer_id         3668.200687
article_id           131.974275
price                242.525665
sales_channel_id     242.525665
dtype: float64

In [18]:
d.count()

t_dat               31788324
customer_id         31788324
article_id          31788324
price               31788324
sales_channel_id    31788324
dtype: int64

In [19]:
d[['customer_id', 'article_id', 'sales_channel_id']] = d[['customer_id', 'article_id', 'sales_channel_id']].astype('category')

In [20]:
d.memory_usage(deep=True).sum() / 1024 / 1024

958.0542850494385

In [21]:
d.memory_usage(deep=True)/ 1024 / 1024

Index                 0.000122
t_dat               242.525665
customer_id         310.712731
article_id          131.974275
price               242.525665
sales_channel_id     30.315826
dtype: float64

In [22]:
d.to_parquet('../data/clean/transactions.parquet')